body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}
nav ul {
    gap: 20px;
    list-style: none;
    display: flex;
}
.hero {
    padding: 1px;
    align-items: center;
    justify-content: center;
}